spring:
  application:
    name: BlogApp
  mongodb:
    uri: mongodb+srv://BlogAppAdmin:K5IurY0SQOZVfjPd@alivinblogapp.uly6jed.mongodb.net/blogdb?retryWrites=true&w=majority&appName=AlivinBlogApp
    database: blogdb
  data:
    mongodb:
      auto-index-creation: true
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

#  autoconfigure:
#    exclude: org.springframework.boot.autoconfigure.mongo.embedded.EmbeddedMongoAutoConfiguration

de:
  flapdoodle:
    mongodb:
      embedded:
        enabled: false


server:
  port: 8080